/* ============================top-header==========================

.top-header{
    height: 50px;
    background: red;
    width: 100%;
    color: white;
    font-size: 19px;
    font-weight: 600;
}
.top-header-media{
    padding-left: 40%;
} */
/* ============================nav-header========================== */
.logo-img{
    height: 55px;
}
.nav-item{
    font-family: 'lora';
    font-size: 18px;
    padding-right: 22px;
}
.navbar-light .navbar-nav .nav-link {
    color: #102039;
}
.navbar-light .navbar-nav .nav-link:hover{
     color: #EA1826;
}
.home-element{
    color: #102039;
    font-size: 18px;
}
.home-element:hover{
    color: #EA1826;
    background: none;
    padding-left: 2px;
    transition: ease-in 1s;
}
/* ==========================================banner========================= */
.banner-top {
    position: absolute;
    z-index: 1;
    left: 8%;
}
.banner-top-col{
    background: #102039 !important;
    height: 100px;
    padding: 13px;
    border-right: 1px white solid;

}
.banner-top-col-end{
    background: #EA1826 !important;
}
.banner-top-icon{
    position: relative;
    color: red;
    padding: 4px 42px;
    font-size: 40px;
}
.banner-top-icon-text{
    color: white;
    padding: 9px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'lora';

}
.banner-top-icon-p{
    color: white;
    font-size: 15px;
}
.banner-top-icon-end-text{
    color: white;
    padding: 11%;
    font-family: 'lora';   
}
.employee1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.employee2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    right: 30px;
}
.employee3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    right: 60px;
}
.employee4{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    right: 90px;
}
.employee-span{
    color: white;
    position: relative;
    right: 84px;
    font-weight: bold;
}
.carousel-caption {
    position: absolute;
    top: 16%;
    right: 65%;
    bottom: 20px;
    left: 3%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
}
.carousel-text-h5{
    font-size: 30px;
    font-family: 'Lora';

}
.carousel-text-p{
    font-size: 50px;
    font-family: 'Lora';
    font-weight: 500;
}
.detailes-ion{
    font-size: 44px;
    color: white;
    padding: 12%;
}
.detailes-txt{
    font-family: 'Lora';
    color: white;
    font-size: 17px;
    font-weight: 600;
}
.detailes-box{
    box-shadow: 1px 2px 10px gray ;

}
.detailes-box:hover .detaile-box-left{
    background:#EA1826;
   
}
.detaile-box-left{
    border-right: 1px white solid;
    background: #102039;
    padding: 0%;
}
.detailes-span{
    font-family: 'Lora';
    font-size: 18px;
    font-weight: 600;
}
.detailes-span:hover{
    color: #EA1826;
}
.detailes-p{
    border-bottom: 1px gray solid;
    font-size: 17px;
    font-family: inherit;
    color: gray;
    padding: 3%;
}
/* ========================================================Profesional================================================================================ */
.Profesional-prent{
    height: 600px;
}
.Profesional-left{
    background: blue;
    height: 600px;

}
/* .Profesional-right{
  background: blueviolet;
} */
.Profesional-headter{
    font-size: 48px;
    width: 96%;
    font-family: 'Lora';
    color: #102039;
    font-weight: 600;
}
.Profesional-about{
    color: gray;
    font-family: inherit;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0.8px;
    line-height: 1.5; 
}
.Profesional-about-left-icon{
    font-size: 40px;
    color: red;
}
.Profesional-about-left-txt{
    font-size: 21px;
    font-family: 'Lora';
    width: 78%;
    font-weight: 600;
}
.Profesional-about-line{
    border-bottom: 1px gray solid;
}
.Profesional-right-bottam-img{
    height: 70px;
    display: inline-block;
}
.Profesional-right-bottam-img-src{
    border-radius: 50px;
}
.Profesional-right-bottam-h2{
    font-size: 20px;
    font-family: 'Lora';
    font-weight: 600;
}
.Profesional-right-bottam-span{
    font-family: 'Poppins';
    color: gray;
    letter-spacing: 2px; 
}
.Profesional-right-bottam-sign{
    height: 60px;
    display: inline-block;
}
.Profesional-left-top{

}
.Profesional-left-top-img{
    height: 601px;
    width: 100%;
    object-fit: cover;
}
.Profesional-left-bottam{
    background: red;
    height: 200px;
    position: relative;
    z-index: 1;
    bottom: 33%;
}
.Profesional-left-bottam-icon{
    font-size: 54px;
    color: white;
}
.Profesional-left-bottam-count{
    font-family: 'Lora';
    color: white;
    font-weight: 700;
    letter-spacing: 3px;
}
.Profesional-left-bottam-txt{
    font-family: 'Lora';
    color: white;
    font-weight: 700;
}
/* ===========================================================medai-qurry======================================================================= */
@media only screen and (max-width: 1169px) and (min-width: 1029px){
    .carousel-text-p {
        font-size: 42px;
        font-family: 'Lora';
        font-weight: 500;
    }
}
@media only screen and (max-width: 1028px) and (min-width: 945px){
    .carousel-text-p {
        font-size: 38px;
        font-family: 'Lora';
        font-weight: 500;
    }
}
@media only screen and (max-width: 944px) and (min-width: 706px){
    .carousel-caption {
        position: absolute;
        top: 25%;
        right: 65%;
        bottom: 20px;
        left: 3%;
        width: 33%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: left;
    }
    .carousel-text-h5 {
        font-size: 18px;
        font-family: 'Lora';
    }
    .carousel-text-p {
        font-size: 27px;
        font-family: 'Lora';
        font-weight: 500;
    }
    .employee-span {
        color: white;
        position: relative;
        font-weight: bold;
    }
}
@media only screen and (max-width: 705px) and (min-width: 550px){
    .carousel-caption {
        position: absolute;
        top: 0%;
        right: 65%;
        width: 51%;
        bottom: 20px;
        left: 3%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: left;
    }
    .employee-span {
        color: white;
        position: relative;
        right: 84px;
        font-weight: bold;
    }
    .carousel-text-p {
        font-size: 35px;
        font-family: 'Lora';
        font-weight: 500;
    }
}
@media only screen and (max-width: 585px) and (min-width: 450px){
    .carousel-caption {
        position: absolute;
        top: 1%;
        right: 65%;
        bottom: 20px;
        left: 3%;
        width: 60%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: left;
    }
    .carousel-text-p {
        font-size: 25px;
        font-family: 'Lora';
        font-weight: 500;
    }
    .carousel-text-h5 {
        font-size: 20px;
        font-family: 'Lora';
    }
    .employee1 ,.employee2 ,.employee3 ,.employee4{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

}
@media only screen and (max-width: 449px) and (min-width: 377px){
    .carousel-caption {
        position: absolute;
        top: 1%;
        right: 65%;
        bottom: 20px;
        left: 3%;
        width: 60%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: left;
    }
    .carousel-text-p {
        font-size: 20px;
        font-family: 'Lora';
        font-weight: 500;
    }
    .carousel-text-h5 {
        font-size: 15px;
        font-family: 'Lora';
    }
    .employee1 ,.employee2 ,.employee3 ,.employee4{
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    .employee-span {
        font-size: 12px;
    }


}
@media only screen and (max-width: 376px) and (min-width: 250px){
    .carousel-caption {
        position: absolute;
        top: 1%;
        right: 65%;
        bottom: 20px;
        left: 3%;
        width: 60%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: left;
    }
    .carousel-text-p {
        font-size: 15px;
        font-family: 'Lora';
        font-weight: 500;
    }
    .carousel-text-h5 {
        font-size: 10px;
        font-family: 'Lora';
    }
    .employee1 ,.employee2 ,.employee3 ,.employee4{
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    .employee-span {
        font-size: 12px;
    }

}